.ImageContainer {
  width: 150px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row__poster {
  display: block;
  width: 150px;
  object-fit: contain;
  max-height: 100%;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250%;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.ImageContainer__icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.ImageContainer__iconsLarge {
  margin-top: 15px;
}
